@keyframes fade-in {
    to { opacity: 1; }

}
:root{
    --blue: #00A7DC;
    --black: #575757;
    --gray: #e3e3e3;
    --white: #fff;
}
*,*::before,*::after {
    box-sizing: border-box;
}
p,h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
button{
    color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
}
body{
    color: var(--black);
    margin: 0;
    padding: 0;
    font-family: "Segoe UI",sans-serif;
    opacity: 0;
    animation: fade-in .3s ease-in forwards;
}
.header{
    padding: 25px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--blue);
}
.header__site-redirect{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.header__site-name{
    color: var(--white);
    font-weight: bold;
    font-size: 2rem;
}
.button{
    padding: 10px 32px;
    font-weight: bold;
    transition: .5s bgcolor;
}
.button:hover{
    background-color: var(--gray);
}
.head-block{
    padding: 100px 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.head-block__info{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}
.title{
    font-size: 2rem;
}
.description{
    font-size: 1.1rem;
}
.head-block__image{
    width: 75%;
}
.alt-button{
    padding: 12px 42px;
    font-weight: bold;
    background-color: var(--blue);
    color: var(--white);
    margin: 0 auto;
    transition: .5s transform;
}
.alt-button:hover{
    transform: translateY(-5px);
}
@media (min-width: 1366px){
    body{
        padding: 0 300px;
    }
    .head-block{
        display: flex;
        flex-direction: row;
    }
    .head-block__image {
        width: 25vw;
    }
    .head-block__info{
       text-align: left;
    }
}
